body {
    font-family:'Segoe UI';
    font-size: 14px;;
}

input[type=submit] {
    border: 0;
    cursor: pointer;
    height: 70px;
    width: 200px;
    font-size:16px;
}

input[type=submit].green {
    background-color:#31B404;
    color: white;
    font-weight:bold;
}

.flexcontainer {
    position:absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;    
    width: 95.5%;
    /*background-color:lightblue;*/
    height: auto;
    justify-content:center;   
    -webkit-align-items: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
}

.flexcontainer > div {
    text-align: center;
    width:300px;
    height: auto;
    /*background-color:lightcoral;*/
}

.title {
    font-size:30px;   
}

.centered {
    text-align:center;    
}

table td.space {
    padding-top:10px;
    padding-bottom:10px;
}